* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding-inline: min(100px, 6%);
  padding-block: 20px;
}

.d-flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

table,
th,
td {
  border: 1px solid black;
}

th {
  width: 25%;
}

.w-100 {
  width: 100%;
}

.disabled-btn {
  background-color: rgb(173, 171, 171) !important;
  pointer-events: none !important;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.px-10 {
  padding-inline: 10px;
}